
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style=" overflow-x: hidden;">


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What information do they collect
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body" style="text-align: left;">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @fbc.each do |fbc| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= fbc.detail %>"> <h5><%= fbc.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What can they do with it
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" style="text-align: left;">

          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @fbu.each do |fbu| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=fbu.detail%>"> <h5><%= fbu.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Who can they share it with?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body" style="text-align: left;">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @fbsell.each do |fbsell| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=fbsell.detail%>"> <h5><%= fbsell.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>
           </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

  <script>
      $('#collapseOne').collapse("hide");
      $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".fa-plus-square-o").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
      }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".fa-minus-square-o").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
      });
  </script>


  <script>
      $(function () {
          $('[data-toggle="popover"]').popover({html : true, container: 'body'})
      })
  </script>
