
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style=" overflow-x: hidden;">


<div class="panel-group" id="accordion3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What information do they collect
          </a>
        </h4>
      </div>

      <div id="collapseOne3" class="panel-collapse collapse in">
        <div class="panel-body" style="">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @lkc.each do |lkc| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= lkc.detail %>"> <h5><%= lkc.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What can they do with it
          </a>
        </h4>
      </div>
      <div id="collapseTwo3" class="panel-collapse collapse">
        <div class="panel-body" style="">

          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @lku.each do |lku| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=lku.detail%>"> <h5><%= lku.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Who can they share it with?
          </a>
        </h4>
      </div>
      <div id="collapseThree3" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @lksell.each do |lksell| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=lksell.detail%>"> <h5><%= lksell.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>
           </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

  <script>
      $('#collapseOne3').collapse("hide");
      $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".fa-plus-square-o").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
      }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".fa-minus-square-o").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
      });
  </script>


  <script>
      $(function () {
          $('[data-toggle="popover"]').popover({html : true, container: 'body'})
      })
  </script>
