
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align: center; overflow-x: hidden;">

      <div class="row" style="padding-bottom: 0.5rem;">

        <%= render partial: "ratingpin" %>
      </div>
<div class="panel-group" id="accordion4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Public Information
          </a>
        </h4>
      </div>

      <div id="collapseOne4" class="panel-collapse collapse in">
        <div class="panel-body" style="text-align: center;">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <img src="<%= user.photo %>" style="height:5rem; width: 5rem; padding-left: 0px;">
          </div>
          <div class="row" style="padding-bottom: 2rem;" >
            <b> <%=user.name%> <%=user.surname%></b>
          </div>
          <div class="row" style="padding-bottom: 2rem; text-align: left;">
            <ul>

            </ul>
          </div>

        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Public Photos
          </a>
        </h4>
      </div>
      <div id="collapseTwo4" class="panel-collapse collapse">
        <div class="panel-body" style="text-align: center;">

          <ul class="list-inline">






            <!--end of thumbnails-->
          </ul>

          <!--begin modal window-->
          <div class="modal fade" id="myModal4">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="pull-left">My Gallery Title</div>
                  <button type="button" class="close" data-dismiss="modal" title="Close"> <i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="modal-body">

                  <!--begin carousel-->

                  <div id="myGallery4" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">

                      <div class="item active"> <div class="image-modal"><img src="assets/picture1.jpg" alt="item0"></div>
                        <div class="carousel-caption">
                          <h3>Heading 3</h3>
                          <p>Slide 0  description.</p>
                        </div>
                      </div>

                      <% (2..9).each do |i| %>
                          <div class="item"> <img src="assets/picture<%=i%>" alt="item<%= i-1 %>">
                            <div class="carousel-caption">
                              <h3>Heading 3</h3>
                              <p>Slide <%= i-1 %>  description.</p>
                            </div>
                          </div>
                      <% end %>






                      <!--end carousel-inner--></div>
                    <!--Begin Previous and Next buttons-->
                    <br><br><a class="left carousel-control" href="#myGallery4" role="button" data-slide="prev"> <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></a> <a class="right carousel-control"  href="#myGallery4" role="button" data-slide="next"> <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></a>
                    <!--end carousel--></div>

                  <!--end modal-body--></div>
                <div class="modal-footer">

                  <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
                  <!--end modal-footer--></div>
                <!--end modal-content--></div>
              <!--end modal-dialoge--></div>
            <!--end myModal4-->></div>


          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Public Posts
          </a>
        </h4>
      </div>
      <div id="collapseThree4" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
             <div class="col-md-12 nopadding"  >

              <div class="tab-post-list " >

                <ul class="nopadding">

                  <% @pin.each do |pin| %>

                  <li class="tab-post-list-wrap">
                    <a href="#"><%=user.name%></a>
                    
                    <small>
                      <abbr title="<%=pin.title%>"> <%= pin.date %>  months ago</abbr>
                    </small>
                    <p><%= pin.body %></p>
                  </li>

                  <%end%>

                   </ul>
              </div>



            </div></div>
           </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

  <script>
      $('#collapseOne4').collapse("hide");
      $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".fa-plus-square-o").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
      }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".fa-minus-square-o").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
      });
  </script>


  <script>
      $(function () {
          $('[data-toggle="popover"]').popover({html : true, container: 'body'})
      })
  </script>
