
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style=" overflow-x: hidden;">


<div class="panel-group" id="accordion9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapseOne9">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What information do they collect
          </a>
        </h4>
      </div>

      <div id="collapseOne9" class="panel-collapse collapse in">
        <div class="panel-body" style="">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @pinc.each do |pinc| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= pinc.detail %>"> <h5><%= pinc.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapseTwo9">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What can they do with it
          </a>
        </h4>
      </div>
      <div id="collapseTwo9" class="panel-collapse collapse">
        <div class="panel-body" style="">

          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @pinu.each do |pinu| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=pinu.detail%>"> <h5><%= pinu.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapseThree9">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Who can they share it with?
          </a>
        </h4>
      </div>
      <div id="collapseThree9" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @pinsell.each do |pinsell| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=pinsell.detail%>"> <h5><%= pinsell.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>
           </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

  <script>
      $('#collapseOne9').collapse("hide");
      $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".fa-plus-square-o").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
      }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".fa-minus-square-o").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
      });
  </script>


  <script>
      $(function () {
          $('[data-toggle="popover"]').popover({html : true, container: 'body'})
      })
  </script>
