<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="list-group">

        <% @google.each do |google| %>
            <a tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right"
               data-trigger="focus"  data-content="

               <div>
                <b> Description: </b> <%= google.description %>  <br><br>
                <b> What could happen? </b> <%= google.story %> <br> <br>
                <b> Recommended: </b> <%= google.recommended %> <br>
                <b> Default: </b> <%= google.default %> <br>
               </div>

">



              <h4 class="list-group-item-heading" style="padding-bottom: 2rem;"><%= google.name %><br></h4>
              <div class="list-group-item-text">
                <div class="row" style="padding-left: 2rem;">


                  <div ><u>Current state:</u> <div class="btn btn-static btn-xs"> <%= google.current %> </div></div>


                </div>
              </div>
        <% end %>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- script -->

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({html : true, container: 'body'})
    })
</script>