<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="list-group">

        <% @fbs.each do |fbs| %>
            <a tabindex="0" class="list-group-item" role="button" data-toggle="popover"
               data-trigger="focus"  data-content=

                   "<div>
<b> Description: </b> <%= fbs.description %> nokfhje féoa hfeénfa ofe féoiaf heofhaof eohf aohf oehfa ohféoe hféoanféoahf eoafo ahfoehféoaféoaehéo <br>
<b> Story: </b> <%= fbs.story %> </div>">



              <h4 class="list-group-item-heading" style="padding-bottom: 2rem;"><%= fbs.name %><br></h4>
              <p class="list-group-item-text">
              <table>
                <tr>
                  <th style="padding-right: 20px;text-align: left;">Default</th> <th style="padding-right: 20px;text-align: center;">Recommended</th> <th style="text-align: right;">Current</th>
                </tr>
                <tr>
                  <td style="padding-right: 20px;text-align: left;"> <%= fbs.default %></td> <td style="padding-right: 20px;text-align: center;"><%= fbs.recommended %></td> <td style="text-align: right;"> <%= fbs.current %></td></tr>
              </table>
              </p>
        <% end %>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- script -->

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({html : true, container: 'body'})
    })
</script>