<div class="container">

  <div class="row">


    <!-- settings links -->

    <div class="col-md-5" style="padding-left: 20px; padding-top: 40px;">
      <div class="inner"></div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
        </div>
        <div class="list-group" style="overflow-y: scroll;height: 400px;">
          <% @lk.each do |lk| %>
             <%= link_to lk.name, {controller: 'privacy_setting', action: 'show', id: lk.id, remote: true}, class: "list-group-item" %>
              <% end %>
        </div>
      </div>
    </div>

    <!-- setting description -->

    <div class="col-md-7" style="padding-top: 40px;">

      <div id="desc">
        <!-- here goes the description partial -->
      </div>
    </div>

  </div>
</div>


