<!-- setting description -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info" style="height: 200px;">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <div>
          <%= @lk.description %>
        </div>
      </div>
    </div>
  </div>

  <!-- settings story -->

  <div class="col-md-6 " style="padding-right: 30px;">
    <div class="panel panel-info" style="height: 200px;">
      <div class="panel-heading">
        <h3 class="panel-title">Story</h3>
      </div>
      <div class="panel-body">
        <%= @lk.story %>
      </div>
    </div>
  </div>
</div>
<!-- second row -->


<div class="row pt-3">

  <!-- settings default value -->

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">default</h3>
      </div>
      <div class="panel-body">
        <%= @lk.default %>
      </div>
    </div>
  </div>

  <!-- settings recommended value -->

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">recommended</h3>
      </div>
      <div class="panel-body">
        <%= @lk.recommended %>
      </div>
    </div>
  </div>

  <!-- settings current value -->

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">current</h3>
      </div>
      <div class="panel-body">
        <%= @lk.current %>
      </div>
    </div>
  </div>
</div>
