


@media (max-width: 1025px) {

    .dropcont {
        height: 54rem;
        overflow-y: auto;
    }

    .dropsel {
        text-align: center;
    }

}

@media (min-width: 1025px) {

    .dropcont {
        height: 40rem;
        overflow-y: auto;
    }

    .dropsel {
        text-align: center;
    }

}

@media (min-width: 1281px) {

    .dropcont {
        height: 53rem;
        overflow-y: auto;
    }

    .dropsel {
        text-align: center;
    }

}

@media (min-width: 1441px) {

    .dropcont {
        height: 61rem;
        overflow-y: auto;
    }

    .dropsel {
        text-align: center;
    }

}