@media (max-width: 1025px) {
    .list-group-item-heading {
        font-size: 14px;
        font-weight: bolder;
    }

    .page-header {
        font-size: 24px;
    }


    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
}