
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style=" overflow-x: hidden;">


<div class="panel-group" id="accordion12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseOne12">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What information do they collect
          </a>
        </h4>
      </div>

      <div id="collapseOne12" class="panel-collapse collapse in">
        <div class="panel-body" style="">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @googlec.each do |googlec| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%= googlec.detail %>"> <h5><%= googlec.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseTwo12">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            What can they do with it
          </a>
        </h4>
      </div>
      <div id="collapseTwo12" class="panel-collapse collapse">
        <div class="panel-body" style="">

          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @googleu.each do |googleu| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=googleu.detail%>"> <h5><%= googleu.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>

          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapseThree12">
            <i class="fa fa-plus-square-o pull-right" aria-hidden="true"></i>
            Who can they share it with?
          </a>
        </h4>
      </div>
      <div id="collapseThree12" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="list-group">


              <% @googlesell.each do |googlesell| %>


                  <a style="padding-bottom: 1rem;" tabindex="0" class="list-group-item" role="button" data-toggle="popover" data-placement="auto right" data-trigger="focus" data-content="<%=googlesell.detail%>"> <h5><%= googlesell.description %> </h5> </a>
                  <!-- here goes the description partial --><% end %>

            </div>
          </div>
           </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

  <script>
      $('#collapseOne12').collapse("hide");
      $('.collapse').on('shown.bs.collapse', function(){
          $(this).parent().find(".fa-plus-square-o").removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
      }).on('hidden.bs.collapse', function(){
          $(this).parent().find(".fa-minus-square-o").removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
      });
  </script>


  <script>
      $(function () {
          $('[data-toggle="popover"]').popover({html : true, container: 'body'})
      })
  </script>
