<!-- http://www.jquery2dotnet.com/ -->
<div class="container-fluid">
  <div class="col-xs-12 col-md-12">
    <div class="well well-sm rating-part">


      <div class="row" style="padding-bottom: 1rem;">
        <div class="col-md-12 nopadding">
          <i class="fa fa-check-circle fa-4x" aria-hidden="true" style="color:#0cb33d;padding-bottom: 2rem;"></i><br>
          <h4>Your profile is 80% private </h4> <br>

        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 80%">
            <span class="sr-only"> </span>
          </div>

        </div>
<br>
          <div class="progress-meter">
            <div class="meter meter-left" style="width: 25%;"><span class="meter-text">0</span></div>
            <div class="meter meter-left" style="width: 25%;"><span class="meter-text">25</span></div>
            <div class="meter meter-right" style="width: 25%;"><span class="meter-text">100</span></div>
            <div class="meter meter-right" style="width: 25%;"><span class="meter-text">75</span></div>
          </div>
<div style="text-align: center; padding-top: 3rem; color: #3d3e40;">
          <h4>Check below to see what information is visible to anyone with an account</h4>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>











