


<div class="container-fluid"  >
  <div class="row"><h1 class="page-header" style="color: #777777">Public Information<small> <br>Select up to 3 social networks to check how private your profile is and what information can be seen by everyone </small></h1><br>


  </div>

  <div class="row" style="padding-bottom: 3rem;text-align: center"> <!-- selection row -->

    <div class="col-md-4 col-md-offset-0 nopadding dropsel"> <!-- first column -->

      <select id="selectMe2" class="selectpicker" data-width="fit" title="Choose social network" >
        <option>None</option>
        <option value="facebook2">Facebook</option>
        <option value="twitter2">Twitter</option>
        <option value="linkedin2">LinkedIn</option>
        <option value="google2">Google +</option>
        <option value="pinterest2">Pinterest</option>
      </select>
    </div>

      <div class="col-md-4 nopadding dropsel" > <!-- second column -->

        <select id="selectMe3" class="selectpicker" data-width="fit" title="Choose social network">
          <option>None</option>
          <option value="facebook3">Facebook</option>
          <option value="twitter3">Twitter</option>
          <option value="linkedin3">LinkedIn</option>
          <option value="google3">Google +</option>
          <option value="pinterest3">Pinterest</option>
        </select>

      </div>

        <div class="col-md-4 nopadding dropsel" > <!-- third column -->

          <select id="selectMe4" class="selectpicker" data-width="fit" title="Choose social network">
            <option>None</option>
            <option value="facebook4">Facebook</option>
            <option value="twitter4">Twitter</option>
            <option value="linkedin4">LinkedIn</option>
            <option value="google4">Google +</option>
            <option value="pinterest4">Pinterest</option>
          </select>

        </div>
  </div>


<div class="row"> <!-- content row  -->
  <div class="col-md-4 col-md-offset-0 nopadding dropcont"> <!-- first content column -->


      <div id="facebook2" class="group2" >
        <%= render partial:"public/group2/fbpartial" %>
      </div>

      <div id="twitter2" class="group2" >
        <%= render partial:"public/group2/twpartial" %>
      </div>

      <div id="linkedin2" class="group2" >
        <%= render partial:"public/group2/lkpartial" %>
      </div>

      <div id="google2" class="group2" >
        <%= render partial:"public/group2/googlepartial" %>
      </div>

      <div id="pinterest2" class="group2" >
        <%= render partial:"public/group2/pinpartial" %>
      </div>
    </div><!-- /first column -->


  <div class="col-md-4 nopadding dropcont"> <!-- second content column -->

      <div id="facebook3" class="group3" >
        <%= render partial:"public/group3/fbpartial" %>
      </div>

      <div id="twitter3" class="group3" >
        <%= render partial:"public/group3/twpartial" %>
      </div>

      <div id="linkedin3" class="group3" >
        <%= render partial:"public/group3/lkpartial" %>
      </div>

      <div id="google3" class="group3" >
        <%= render partial:"public/group3/googlepartial" %>
      </div>

      <div id="pinterest3" class="group3" >
        <%= render partial:"public/group3/pinpartial" %>
      </div>
    </div><!-- /second column -->

  <div class="col-md-4 nopadding dropcont"> <!-- third content column -->

      <div id="facebook4" class="group4" >
        <%= render partial:"public/group4/fbpartial" %>
      </div>

      <div id="twitter4" class="group4" >
        <%= render partial:"public/group4/twpartial" %>
      </div>

      <div id="linkedin4" class="group4" >
        <%= render partial:"public/group4/lkpartial" %>
      </div>

      <div id="google4" class="group4" >
        <%= render partial:"public/group4/googlepartial" %>
      </div>

      <div id="pinterest4" class="group4" >
        <%= render partial:"public/group4/pinpartial" %>
      </div>
    </div><!-- /third column -->



  </div>
</div>

<!-- scripts -->

<script>

        $('.group2').hide();//hide
        //set default class to be shown here, or remove to hide all
                $('#selectMe2').change(function () {//on change do stuff
            $('.group2').hide();//hide all with .group2 class
            $('#'+$(this).val()).show(); //show selected option's respective element
        })
    ;</script>

<script>

        $('.group3').hide();//hide
        //set default class to be shown here, or remove to hide all
        $('#selectMe3').change(function () {//on change do stuff
            $('.group3').hide();//hide all with .group2 class
            $('#'+$(this).val()).show(); //show selected option's respective element
        })
    ;</script>

<script>

        $('.group4').hide();//hide
       //set default class to be shown here, or remove to hide all
        $('#selectMe4').change(function () {//on change do stuff
            $('.group4').hide();//hide all with .group2 class
            $('#'+$(this).val()).show(); //show selected option's respective element
        })
    ;</script>

